In [3]:
import numpy as np;
import pandas as pd;
import datetime as dt;

In [4]:
all_parking_data = pd.read_csv("collection_sheet_unmodified.csv", index_col = 'Absolute Spot Number');

In [5]:
display(all_parking_data);

,Data Entry Group Member,Route Number,Side of Street,Relative Spot Number,Regulation,6:00 AM,7:00 AM,8:00 AM,9:00 AM,10:00 AM,...,3:00 PM,4:00 PM,5:00 PM,6:00 PM,7:00 PM,8:00 PM,Street Name,Street Direction,Start Bound Street,End Bound Street
Absolute Spot Number,,,,,,,,,,,,,,,,,,,,,
1,Ysabelle,1,Right,1,Resident Only,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Massachusetts Avenue,North,Shawmut Avenue,Chester Square - Entrance
2,Ysabelle,1,Right,2,Resident Only,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Massachusetts Avenue,North,Shawmut Avenue,Chester Square - Entrance
3,Ysabelle,1,Right,3,Resident Only,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Occupied,Occupied,Massachusetts Avenue,North,Shawmut Avenue,Chester Square - Entrance
4,Ysabelle,1,Right,4,Resident Only,Occupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Occupied,Occupied,Occupied,Occupied,Massachusetts Avenue,North,Shawmut Avenue,Chester Square - Entrance
5,Ysabelle,1,Right,5,Resident Only,Occupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Occupied,Occupied,Occupied,Occupied,Massachusetts Avenue,North,Shawmut Avenue,Chester Square - Entrance
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,Victoria,14,Left,5,Resident Only,Occupied,Occupied,Occupied,Unoccupied,Unoccupied,...,Unoccupied,Occupied,Occupied,Occupied,Occupied,Occupied,Shawmut Avenue,West,W. Springfield Street,Massachusetts Avenue
381,Victoria,14,Left,1,Resident Only,Occupied,Occupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Occupied,Occupied,Occupied,Occupied,Shawmut Avenue,West,W. Springfield Street,Massachusetts Avenue
382,Victoria,14,Left,2,Resident Only,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Shawmut Avenue,West,W. Springfield Street,Massachusetts Avenue
383,Victoria,14,Left,3,Resident Only,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Shawmut Avenue,West,W. Springfield Street,Massachusetts Avenue
384,Victoria,14,Left,4,Resident Only,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Occupied,Occupied,Shawmut Avenue,West,W. Springfield Street,Massachusetts Avenue

In [6]:
all_parking_data.sort_values(by = ['Street Name']);

In [7]:
display(all_parking_data);

,Data Entry Group Member,Route Number,Side of Street,Relative Spot Number,Regulation,6:00 AM,7:00 AM,8:00 AM,9:00 AM,10:00 AM,...,3:00 PM,4:00 PM,5:00 PM,6:00 PM,7:00 PM,8:00 PM,Street Name,Street Direction,Start Bound Street,End Bound Street
Absolute Spot Number,,,,,,,,,,,,,,,,,,,,,
1,Ysabelle,1,Right,1,Resident Only,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Massachusetts Avenue,North,Shawmut Avenue,Chester Square - Entrance
2,Ysabelle,1,Right,2,Resident Only,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Massachusetts Avenue,North,Shawmut Avenue,Chester Square - Entrance
3,Ysabelle,1,Right,3,Resident Only,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Occupied,Occupied,Massachusetts Avenue,North,Shawmut Avenue,Chester Square - Entrance
4,Ysabelle,1,Right,4,Resident Only,Occupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Occupied,Occupied,Occupied,Occupied,Massachusetts Avenue,North,Shawmut Avenue,Chester Square - Entrance
5,Ysabelle,1,Right,5,Resident Only,Occupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Occupied,Occupied,Occupied,Occupied,Massachusetts Avenue,North,Shawmut Avenue,Chester Square - Entrance
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,Victoria,14,Left,5,Resident Only,Occupied,Occupied,Occupied,Unoccupied,Unoccupied,...,Unoccupied,Occupied,Occupied,Occupied,Occupied,Occupied,Shawmut Avenue,West,W. Springfield Street,Massachusetts Avenue
381,Victoria,14,Left,1,Resident Only,Occupied,Occupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Occupied,Occupied,Occupied,Occupied,Shawmut Avenue,West,W. Springfield Street,Massachusetts Avenue
382,Victoria,14,Left,2,Resident Only,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Shawmut Avenue,West,W. Springfield Street,Massachusetts Avenue
383,Victoria,14,Left,3,Resident Only,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Shawmut Avenue,West,W. Springfield Street,Massachusetts Avenue
384,Victoria,14,Left,4,Resident Only,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Unoccupied,...,Unoccupied,Unoccupied,Unoccupied,Unoccupied,Occupied,Occupied,Shawmut Avenue,West,W. Springfield Street,Massachusetts Avenue

In [16]:
display(all_parking_data.loc[all_parking_data['8:00 AM'] == 'Occupied'].groupby(['Route Number','Side of Street']).count()[['8:00 AM']]);
display(all_parking_data.loc[all_parking_data['8:00 AM']== 'Unoccupied'].groupby(['Route Number','Side of Street']).count()[['8:00 AM']]);
display(all_parking_data.loc[all_parking_data['8:00 AM']== 'Occupied'].groupby(['Street Name']).count()[['8:00 AM']]);

                             8:00 AM
Route Number Side of Street
10a          Right                16
10b          Right                 6
11           Left                  6
             Right                 7
12           Left                 28
             Right                21
13           Left                 23
             Right                35
14           Left                  4
             Right                 6
2            Right                 2
3a           Right                17
3b           Right                 5
4            Right                 4
5            Right                 1
6            Right                 3
7            Right                 7
8            Right                 5
9            Left                 15
             Right                14

                             8:00 AM
Route Number Side of Street
1            Right                 7
10a          Right                 4
10b          Right                 1
11           Right                 2
12           Left                 20
             Right                22
13           Left                 15
             Right                 8
14           Left                  5
             Right                 3
2            Left                 17
             Right                20
3a           Right                 7
3b           Right                 3
5            Right                 3
6            Right                 4
7            Right                 2
8            Right                 1
9            Left                  6
             Right                 9

                       8:00 AM
Street Name
Chester Square              31
Massachusetts Avenue        49
Northampton Street          49
Shawmut Avenue              23
Tremont Street              15
W. Springfield Street       58

In [9]:
df2 = all_parking_data.loc[all_parking_data['8:00 AM'] == 'Occupied'].groupby(['Route Number','Side of Street']).count()[['8:00 AM']];
df3 = all_parking_data.loc[all_parking_data['8:00 AM'] == 'Unoccupied'].groupby(['Route Number','Side of Street']).count()[['8:00 AM']];
df2 = df2.rename(columns = {'8:00 AM': '8:00 AM Occupied'})
df2['8:00 AM Unoccupied'] = df3['8:00 AM']
df2

                             8:00 AM Occupied  8:00 AM Unoccupied
Route Number Side of Street
10a          Right                         16                 4.0
10b          Right                          6                 1.0
11           Left                           6                 NaN
             Right                          7                 2.0
12           Left                          28                20.0
             Right                         21                22.0
13           Left                          23                15.0
             Right                         35                 8.0
14           Left                           4                 5.0
             Right                          6                 3.0
2            Right                          2                20.0
3a           Right                         17                 7.0
3b           Right                          5                 3.0
4            Right                          4                 NaN
5            Right                          1                 3.0
6            Right                          3                 4.0
7            Right                          7                 2.0
8            Right                          5                 1.0
9            Left                          15                 6.0
             Right                         14                 9.0

In [17]:
def Occupancy(time):
    df2 = all_parking_data.loc[all_parking_data[time] == 'Occupied'].groupby(['Route Number','Side of Street', 'Street Name']).count()[[time]];
    df3 = all_parking_data.loc[all_parking_data[time] == 'Unoccupied'].groupby(['Route Number','Side of Street','Street Name']).count()[[time]];
    df2 = df2.rename(columns = {time: time + ' Occupied'})
    df2[time + ' Unoccupied'] = df3[time]
    df2['Total Spots'] = df2[time + ' Unoccupied'] + df2[time + ' Occupied']
    df2.sort_values('Route Number')
    return df2;

def Occupancy2(time):
    df2 = all_parking_data.loc[all_parking_data[time] == 'Occupied'].groupby(['Street Name']).count()[[time]];
    df3 = all_parking_data.loc[all_parking_data[time] == 'Unoccupied'].groupby(['Street Name']).count()[[time]];
    df2 = df2.rename(columns = {time: time + ' Occupied'})
    df2[time + ' Unoccupied'] = df3[time]
    df2['Total Spots'] = df2[time + ' Unoccupied'] + df2[time + ' Occupied']
    df2.sort_values('Street Name')
    return df2;

In [18]:
Occupancy('4:00 PM')
Occupancy2('4:00 PM')

                       4:00 PM Occupied  4:00 PM Unoccupied  Total Spots
Street Name
Chester Square                       33                  50           83
Massachusetts Avenue                 49                  23           72
Northampton Street                   48                  43           91
Shawmut Avenue                       23                  10           33
Tremont Street                       14                  10           24
W. Springfield Street                63                  18           81

In [12]:
all_times_occ = ['6:00 AM Occupied', '7:00 AM Occupied', '8:00 AM Occupied', '9:00 AM Occupied', '10:00 AM Occupied', '11:00 AM Occupied', 
             '12:00 PM Occupied', '1:00 PM Occupied', '2:00 PM Occupied', '3:00 PM Occupied', '4:00 PM Occupied', '5:00 PM Occupied', '6:00 PM Occupied', '7:00 PM Occupied', '8:00 PM Occupied'];

In [19]:
all_cols =  all_times_occ
new_df = pd.DataFrame(columns = all_cols);
add_once = True;
all_times = ['6:00 AM', '7:00 AM', '8:00 AM', '9:00 AM', '10:00 AM', '11:00 AM', 
             '12:00 PM', '1:00 PM', '2:00 PM', '3:00 PM', '4:00 PM', '5:00 PM', '6:00 PM', '7:00 PM', '8:00 PM'];
for time in all_times:
    temp_df = Occupancy2(time);
    if (add_once):
        add_once = False;
        new_df['Total Spots'] = temp_df['Total Spots']
    new_df[time + ' Occupied'] = temp_df[time + ' Occupied'];
new_df = new_df.fillna(0)
new_df

,6:00 AM Occupied,7:00 AM Occupied,8:00 AM Occupied,9:00 AM Occupied,10:00 AM Occupied,11:00 AM Occupied,12:00 PM Occupied,1:00 PM Occupied,2:00 PM Occupied,3:00 PM Occupied,4:00 PM Occupied,5:00 PM Occupied,6:00 PM Occupied,7:00 PM Occupied,8:00 PM Occupied,Total Spots
Street Name,,,,,,,,,,,,,,,,
Chester Square,50,36,31,33,32,27,26,26,25,28,33,39,44,49,51,83
Massachusetts Avenue,55,51,49,43,52,55,54,51,54,50,49,45,47,53,51,71
Northampton Street,64,58,49,44,46,49,42,42,44,46,48,55,62,67,73,91
Shawmut Avenue,26,25,23,21,22,23,21,23,22,23,23,23,26,27,26,33
Tremont Street,20,19,15,12,18,18,18,15,13,15,14,12,18,20,20,24
W. Springfield Street,65,63,58,59,60,64,63,63,63,59,63,68,76,77,75,81

In [14]:
new_df.to_csv('Aggregated_Bar_Chart.csv')